<div style="padding:10px;background-color:white;">
    Search: <input ng-model="$ctrl.query" />
</div>

<div style="width:200px;position:fixed;left:0px;padding:1%;background-color:white;">
    <hr />
    <p>
        <a href="#!/playlists/" style="width:100%;height:100%;display:block;color:red;font-size:90%;">Playlists</a>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="playlist in $ctrl.playlists">
                <td style="width:100%;border:none;padding:10px;">
                    <a href="#!/playlists/{{playlist.PlaylistID}}" style="width:100%;height:100%;display:block;text-decoration:none;color:black;">
                        {{playlist.PlaylistName}}
                    </a>
                </td>
                <td class="text-nowrap" style="border:none;">
                    <button class="btn btn-sm btn-primary" ng-click="showDetails = ! showDetails">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>

<div class="panel panel-default" style="width:40%;margin-top:1%;margin-left:30%;margin-right:30%;">

    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="video in $ctrl.videos | filter:$ctrl.query">
                <td>
                    <a href="#!/videos/{{video.VideoID}}" style="width:100%;height:100%;display:block;">
                        <div>
                            <img ng-src="{{video.VideoThumbnail}}" alt="{{Video.VideoTitle}}" style="width:60px;height:60px;" />
                        </div>
                    </a>
                </td>
                <td style="width:100%;">
                    <a href="#!/videos/{{video.VideoID}}" style="width:100%;height:100%;display:block;color:black;">
                        <p>{{video.VideoTitle}}</p>
                    </a>
                    <a href="#!/videos/{{video.VideoID}}" style="width:100%;height:100%;display:block;text-decoration:none;color:darkgray;">
                        <p style="font-size:80%">{{video.VideoUploader}}</p>
                    </a>
                </td>
                <td class="text-right text-nowrap">
                    <button class="btn btn-sm btn-primary" ng-click="showDetails = ! showDetails">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>