<style>
    #bootstrap-overrides .container {
        width: 592px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    #bootstrap-overrides .navbarCustom {
        height: 50px;
        width: 100%;
        min-width: 755px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        background-color: white;
        border-bottom: 1px solid rgb(232,232,232);
    }
    #bootstrap-overrides .menuToggleAndLogoDiv {
        display: inline;
    }
    #bootstrap-overrides .searchInputDiv {
        display: inline;
        margin-left: 44px;
    }
    #bootstrap-overrides .menuToggleButton {
        background: none;
        border: none;
        outline: none;
        width: 38px;
        height: 30px;
        opacity: 0.25;
    }
    #bootstrap-overrides .navbarCustom:hover .menuToggleButton {
        opacity: 0.7;
        -moz-transform: translate(1px, -1px);
        -ms-transform: translate(1px, -1px);
        -o-transform: translate(1px, -1px);
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px)
    }
    #bootstrap-overrides .menuLogo {
        width: 100px;
        height: 30px;
        -moz-transform: translate(0px, -2px);
        -ms-transform: translate(0px, -2px);
        -o-transform: translate(0px, -2px);
        -webkit-transform: translate(0px, -2px);
        transform: translate(0px, -2px);
    }
    #bootstrap-overrides .searchInput {
        padding-top: 2px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 2px;
        width: 50%;
        min-width: 235px;
        max-width: 582px;
        vertical-align: middle;
    }
        #bootstrap-overrides .searchInput:hover {
            outline: 1px solid lightgrey;
        }
    #bootstrap-overrides .searchButton {
        background-color: rgb(240,240,240);
        width: 66px;
        height: 28px;
        border: 1px solid grey;
        outline: none;
        padding: 0px;
        border-left: 0px;
        opacity: 0.4;
        vertical-align: middle;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-bottom: 2px;
    }
        #bootstrap-overrides .searchButton:hover {
            opacity: 0.8;
        }
    #bootstrap-overrides .menu {
        width: 200px;
        position: fixed;
        left: 0px;
        top: 50px;
        padding: 10px;
        background-color: white;
        height: 100%;
        z-index: 1;
    }
    #bootstrap-overrides .menuPlaylistsLink {
        width: 100%;
        height: 100%;
        display: block;
        color: red;
        font-size: 90%;
    }
    #bootstrap-overrides .menuTd {
        border: none;
        padding: 0px;
        margin: 0px;
    }
    #bootstrap-overrides .menuPlaylistsListItem {
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: black;
    }
        #bootstrap-overrides .menuPlaylistsListItem:hover {
            cursor: pointer;
        }
</style>

<div class="navbar navbar-fixed-top navbarCustom">
    <div class="menuToggleAndLogoDiv">
    <button ng-click="showMenu = !showMenu" class="menuToggleButton glyphicon glyphicon-menu-hamburger"></button>
    <a href="/#!/search/"><img src="https://www.youtube.com/yts/img/ringo/hitchhiker/logo_small_2x-vfl4_cFqn.png" class="menuLogo" /></a>
    </div>

    <div class="searchInputDiv">
    <input ng-model="$ctrl.searchExpression" ng-keydown="$event.keyCode === 13 && $ctrl.search()" placeholder="Search" class="searchInput" /><button class="glyphicon glyphicon-search searchButton" ng-click="$ctrl.search()"></button>
    </div>

    <div style="float: right;">
    <a href="/#!/upload" class="btn btn-default"><span class="glyphicon glyphicon-open"></span> Upload</a>
    </div>
</div>

<div ng-show="showMenu" class="menu">
    <p>
    <a ng-click="showPlaylistsModal = true" href="" class="menuPlaylistsLink">Playlists</a>
    </p>

    <table class="table table-hover">
    <tbody>
        <tr ng-repeat="playlist in $ctrl.playlists">
        <td class="menuTd">
        <a href="#!/playlists/{{playlist.PlaylistID}}" class="menuPlaylistsListItem">{{playlist.PlaylistName}}</a>
        </td>
        </tr>
    </tbody>
    </table>
    <hr />
</div>

<div class="container">
    <div class="panel panel-default">
    <iframe width="560" height="315"
            ng-src="{{$ctrl.video.VideoUrl}}"
            frameborder="0" gesture="media"
            allow="encrypted-media" allowfullscreen>
    </iframe>

    <p>Title: <b>{{$ctrl.video.VideoTitle}}</b></p>
    <p>Uploader: <b>{{$ctrl.video.VideoUploader}}</b> Views: <b>{{$ctrl.video.VideoViews}}</b></p>
    <p>Upload date: <b>{{$ctrl.video.VideoUploadDate.slice(6, -2) | date}}</b></p>
    <p>Description: <b>{{$ctrl.video.VideoDescription}}</b></p>
    </div>

    <div class="panel panel-default">
    <p><b>Recommended:</b></p>
    <table class="table table-hover">
    <tbody>
        <tr ng-repeat="video in $ctrl.videos">
        <td>
        <a href="#!/videos/{{video.VideoID}}">
        <img ng-src="{{video.VideoThumbnail}}" alt="{{Video.VideoTitle}}" width="60" height="40" />
        </a>
        </td>

        <td>
        <a href="#!/videos/{{video.VideoID}}" class="videoTextTitle">
        <span >{{video.VideoTitle}}</span><br />
        <span style="font-size: 80%" class="videoTextUploader">{{video.VideoUploader}}</span>
        </a>
        </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
