<style>
    #bootstrap-overrides .navbarCustom {
        height: 50px;
        width: 100%;
        min-width: 755px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        background-color: white;
        border-bottom: 1px solid rgb(232,232,232);
    }
    #bootstrap-overrides .menuToggleAndLogoDiv {
        display: inline;
    }
    #bootstrap-overrides .searchInputDiv {
        display: inline;
        margin-left: 44px;
    }
    #bootstrap-overrides .menuToggleButton {
        background: none;
        border: none;
        outline: none;
        width: 38px;
        height: 30px;
        opacity: 0.25;
    }
        #bootstrap-overrides .navbarCustom:hover .menuToggleButton {
            opacity: 0.7;
            -moz-transform: translate(1px, -1px);
            -ms-transform: translate(1px, -1px);
            -o-transform: translate(1px, -1px);
            -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px)
        }
    #bootstrap-overrides .menuLogo {
        width: 100px;
        height: 30px;
        -moz-transform: translate(0px, -2px);
        -ms-transform: translate(0px, -2px);
        -o-transform: translate(0px, -2px);
        -webkit-transform: translate(0px, -2px);
        transform: translate(0px, -2px);
    }
    #bootstrap-overrides .searchInput {
        padding-top: 2px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 2px;
        width: 50%;
        min-width: 235px;
        max-width: 582px;
        vertical-align: middle;
    }
        #bootstrap-overrides .searchInput:hover {
            outline: 1px solid lightgrey;
        }
    #bootstrap-overrides .searchButton {
        background-color: rgb(240,240,240);
        width: 66px;
        height: 28px;
        border: 1px solid grey;
        outline: none;
        padding: 0px;
        border-left: 0px;
        opacity: 0.4;
        vertical-align: middle;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-bottom: 2px;
    }
        #bootstrap-overrides .searchButton:hover {
            opacity: 0.8;
        }
    #bootstrap-overrides .menu {
        width: 200px;
        position: fixed;
        left: 0px;
        top: 50px;
        padding: 10px;
        background-color: white;
        height: 100%;
        z-index: 1;
    }
    #bootstrap-overrides .menuPlaylistsLink {
        width: 100%;
        height: 100%;
        display: block;
        color: red;
        font-size: 90%;
    }
    #bootstrap-overrides .menuTd {
        border: none;
        padding: 0px;
        margin: 0px;
    }
    #bootstrap-overrides .menuPlaylistsListItem {
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: black;
    }
    #bootstrap-overrides .videoContainerPadding {
        padding-left: 220px;
        padding-right: 220px;
    }
    #bootstrap-overrides .panelCustom {
        width: 693px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        min-width: 644px;
    }
    #bootstrap-overrides .videoImageLink {
        width:100%;
        height:100%;
        display:block;
    }
    #bootstrap-overrides .videoImageDiv {
        position:relative;
        text-align:center;
        color:white;
    }
    #bootstrap-overrides .videoImageImage {
        width:246px;
        height:138px;
    }
    #bootstrap-overrides .videoImageTime {
        position: absolute;
        bottom: 3px;
        right: 3px;
        background-color: rgba(0,0,0,0.6);
        padding-top: 1px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 80%;
        font-weight: bold;
        color: lightgrey;
    }
    #bootstrap-overrides .videoTextTd {
        width:100%;
        position:relative;
    }
    #bootstrap-overrides .videoTextTitle {
        width:100%;
        height:100%;
        display:block;
        padding-right:10px;
        color:rgb(22,122,198);
    }
    #bootstrap-overrides .videoTextDetails {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: rgb(118,118,118);
    }
    #bootstrap-overrides .videoTextMenuButton {
        position: absolute;
        top: 10px;
        right: 10px;
        visibility: hidden;
        cursor: pointer;
    }
    #bootstrap-overrides .videoTextMenu2Button {
        position: absolute;
        top: 10px;
        right: 30px;
        visibility: hidden;
        cursor: pointer;
    }
    #bootstrap-overrides .videoTextTd:hover .videoTextMenuButton {
        visibility: visible;
    }
    #bootstrap-overrides .videoTextTd:hover .videoTextMenu2Button {
        visibility: visible;
    }
    #bootstrap-overrides .videoTextTd:hover .videoTextUploader {
        color: rgb(44,141,209);
    }
</style>

<div class="navbar navbar-fixed-top navbarCustom">
    <div class="menuToggleAndLogoDiv">
        <button ng-click="showMenu = !showMenu" class="menuToggleButton glyphicon glyphicon-menu-hamburger"></button>
        <a href="/"><img src="https://www.youtube.com/yts/img/ringo/hitchhiker/logo_small_2x-vfl4_cFqn.png" class="menuLogo" /></a>
    </div>
    <div class="searchInputDiv">
        <input ng-model="$ctrl.searchExpression" ng-keydown="$event.keyCode === 13 && $ctrl.search()" placeholder="Search" class="searchInput" /><button class="glyphicon glyphicon-search searchButton" ng-click="$ctrl.search()"></button>
    </div>
    <div style="float:right;">
        <a href="/#!/upload" class="btn btn-default"><span class="glyphicon glyphicon-open"></span> Upload</a>
    </div>
</div>

<div ng-hide="showMenu" class="menu">
    <p>
        <a href="#!/playlists/" class="menuPlaylistsLink">Playlists</a>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="playlist in $ctrl.playlists">
                <td class="menuTd">
                    <a href="#!/playlists/{{playlist.PlaylistID}}" class="menuPlaylistsListItem">
                        {{playlist.PlaylistName}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>

<div ng-class="{videoContainerPadding:!showMenu}">
    <div class="panel panel-default panelCustom">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="video in $ctrl.videos">
                    <td>
                        <a href="#!/videos/{{video.VideoID}}" class="videoImageLink">
                            <div class="videoImageDiv">
                                <img ng-src="{{video.VideoThumbnail}}" alt="{{Video.VideoTitle}}" class="videoImageImage" />
                                <div class="videoImageTime"><span>{{video.VideoDuration | secToMinSec}}</span></div>
                            </div>
                        </a>
                    </td>
                    <td class="videoTextTd">
                        <a href="#!/videos/{{video.VideoID}}" class="videoTextTitle">
                            <span style="font-size:125%">{{video.VideoTitle}}</span>
                        </a>
                        <a href="#!/videos/{{video.VideoID}}" class="videoTextDetails">
                            <span style="font-size:80%" class="videoTextUploader">{{video.VideoUploader}}</span>
                        </a>
                        <a href="#!/videos/{{video.VideoID}}" class="videoTextDetails">
                            <span style="font-size:80%">{{video.VideoUploadDate.slice(6, -2) | dateDiff}} &bull; {{video.VideoViews | number}} views</span>
                        </a>
                        <a href="#!/videos/{{video.VideoID}}" class="videoTextDetails">
                            <span style="display:block;font-size:80%">{{video.VideoDescription | textLength:'200'}}</span>
                        </a>
                        <span ng-click="showUpdateForm = ! showUpdateForm" class="glyphicon glyphicon-edit videoTextMenuButton"></span>
                        <span ng-click="$ctrl.getPlaylistsForVideo(video.VideoID);showPlaylistsForm = ! showPlaylistsForm" class="glyphicon glyphicon glyphicon-list videoTextMenu2Button"></span>
                        
                        <form ng-show="showUpdateForm" style="padding:10px;">
                            <div class="form-group">
                                <label for="editVideoTitle">Title:</label>
                                <input ng-model="video.VideoTitle" type="text" class="form-control" id="editVideoTitle">
                            </div>
                            <div class="form-group">
                                <label for="editVideoUrl">Url:</label>
                                <input ng-model="video.VideoUrl" type="text" class="form-control" id="editVideoUrl">
                            </div>
                            <div class="form-group">
                                <label for="editVideoUploader">Uploader:</label>
                                <input ng-model="video.VideoUploader" type="text" class="form-control" id="editVideoUploader">
                            </div>
                            <div class="form-group">
                                <label for="editVideoViews">Views:</label>
                                <input ng-model="video.VideoViews" type="text" class="form-control" id="editVideoViews">
                            </div>
                            <div class="form-group">
                                <label for="editVideoDuration">Duration (in seconds):</label>
                                <input ng-model="video.VideoDuration" type="text" class="form-control" id="editVideoDuration">
                            </div>
                            <div class="form-group">
                                <label for="editVideoThumbnail">Thumbnail:</label>
                                <input ng-model="video.VideoThumbnail" type="text" class="form-control" id="editVideoThumbnail">
                            </div>
                            <div class="form-group">
                                <label for="editVideoDescription">Description:</label>
                                <textarea ng-model="video.VideoDescription" class="form-control" rows="5" id="editVideoDescription"></textarea>
                            </div>
                            <button ng-click="$ctrl.editVideo(video.VideoID,video.VideoTitle,video.VideoUrl,video.VideoUploader,(video.VideoUploadDate.slice(6, -2) | date),video.VideoViews,video.VideoDuration,video.VideoThumbnail,video.VideoDescription)" type="submit" class="btn btn-default pull-right">Submit</button>
                            <div style="clear:both"></div>
                        </form>
                        
                        <form ng-show="showPlaylistsForm" style="padding:10px;">
                            <p>In Playlists:</p>
                            <div ng-repeat="playlist in $ctrl.videoInPlaylists[video.VideoID]">
                                <p>{{playlist.PlaylistName}}
                                    <button ng-click="$ctrl.deleteVideoPlaylist(video, playlist)" type="submit" class="btn btn-default btn-xs">Delete</button>
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="selectPlaylist">Add to Playlist:</label>
                                <select ng-model="selectedPlaylist" ng-options="playlist.PlaylistName for playlist in $ctrl.videoNotInPlaylists[video.VideoID]" id="selectPlaylist"></select>
                                <button ng-click="$ctrl.addVideoPlaylist(video, selectedPlaylist)" type="submit" class="btn btn-default btn-sm">Add</button>
                            </div>

                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
